<p>Index</p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to 'Tryck Här För Att Generera En Ny Superhjälte', root_path %></h3>
  </div>
  <div class="panel-body">
   Superhero Namn:<br/> 
   <%= @hero_name %><br/>
   
   Superhero Kraft:<br/>  
   <%= @hero_power%><br/><br/>
   
   Ditt undercover jobb 7-16: <br/>
   <%= @corp_title %> <br/><br/>
   
   Din företags superkraft är:<br/>
   <%= @corp_power %>
  </div>
  <div class="panel-footer"><%= link_to 'Skapa Ett Helt Team Med Superhjältar', home_team_path %></div>
</div>




